#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.user {
  padding: 10px 30px;
  box-shadow: 0px 2px 4px 2px gray;
  font-size: 24px;
  text-align: left;
}

.user__name {
  font-size: 1.5em;
}

.users {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: stretch;
}

.users__item {
  flex-basis: calc((100% - 100px) / 3);
  display: flex;
}
